
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #E2F0D9;
    padding: 50px;
  }
  .container {
    background-image: linear-gradient(#546223, #E2F0D9);
    padding: 20px;

  }

  @media (max-width: 768px) {
body {
  padding: 20px; 
}
.container {
  padding: 10px; 
}
}

  h1 {
    color: #ffffff;
  }

  .volver-inicio {
text-align: center;
margin-top: 20px;
}

.volver-inicio a {
display: inline-block;
padding: 10px 20px;
background-image: linear-gradient(#1D21AA, #1d22aab0);
color: white;
text-decoration: none;
border-radius: 5px;

}

.volver-inicio a:hover {
background-color: #546223;
}

.logo-center img {
max-width: 100%;
height: auto;
margin-top: 30px
}


p {
    color: #ffffff;

}
